@import "tailwindcss";

@theme {
  
  /* FOR CUSTOM THEME */
  --color-custom-primary: #030014;
  --color-custom-secondary: #12023B;
  --color-custom-accent-primary: #342777;
  --color-custom-accent-secondary: #ff4667;
  --color-custom-text: #191919;

  /* ... */
}